.grid-container {
    color:blue;
    display:flex;
    flex-wrap: wrap;
    height: 960px; /* Fill the viewport height */
    width: 960px; /* Fill the viewport width */
}

.grid-item {
    display:flex;
    background-color: white;
    border: 1px solid black;
}